<h1 class='center'>Les membres de notre équipe</h1>
  <div class='container'>
    <div class="row" [@cardAnimation]="membersApi.length" @plusAnimation>


      <div *ngFor='let member of membersApi' class="col s12 m12">
        <div class="card horizontal" (click)="selectMember(member)" Bordercard>
            <div class="card-image">

              <div class="avatar">
                <img class="avatar" src="../../../assets/images/avatars/{{member.avatar}}" alt="avatar">
              </div>
          </div>

          <div class="card-stacked">
            <div class="card-content">
              <p>{{ member.firstname }}</p>
              <p>{{ member.lastname }}</p>
              <p><small>{{ member.created | date:"dd/MM/yyyy" }}</small></p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Button to add member -->
  <a class="btn-floating btn-large waves-effect waves-light green z-depth-3"
    style="position: fixed; bottom: 25px; right: 25px;"
    routerLink="/create-member" href>
    <strong>+</strong>
  </a>

