<app-header></app-header>



<div class="home">

<div class="accordion">
  <ul>
    <li>
      <div>
        <h2>BIENVENUE CHEZ PRISMO</h2>
        <p>Mettre le capital humain au coeur du monde professionnel.</p>
      </div>
      </li>
    <li>
      <div>
        <h2>UNE STARTUP TECH AVEC UNE RÉELLE VOCATION SOCIÉTALE</h2>
      </div>
      </li>
    <li><a href="/members-list">
      <div>
        <h2>UNE ÉQUIPE PASSIONNÉE ET DES VALEURS FORTES</h2>
        <button mat-flat-button>
          <p>Notre équipe et sa culture</p></button>

      </div>
      </a> </li>
  </ul>
</div>
</div>
